@model TheJunction.ViewModels.ShiftTradeRequestViewModel
@{

    ViewBag.Title = "My Shift Trade Requests";
}

<!--
    
    form creation
    link to model
    validation
    data annotations
    get
    post
    put
    delete

-->

<h2>@ViewBag.Title</h2>
<div class="col-md-12" align="right">
    <div class="form-group">
        <a asp-controller="Employee" asp-action="ShiftTradeRequestForm" class="btn btn-primary">New Shift Trade Request</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Requested Date</th>
            <th>??</th>
            <th>??</th>
            <th>??</th>
            <th>??</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>??</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
        </tr>
        <tr>
            <td>??</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
            <td>??</td>
        </tr>
    </tbody>
</table>